<footer>
  <div class="container">
    <div class="footerGrid">
      <div>
        <a href="#">ACCUEIL</a>
        <a href="#">PRESENTATION</a>
        <a href="#">ACTIVITES</a>
      </div>
      <div>
        <a href="#">NOS PROJETS</a>
        <a href="#">PRESSE</a>
        <a href="#">FAIRE UN DON</a>
      </div>
      <div>
        <div class="newsletter">
          <input placeholder="Entrez votre e-mail validé" />
          <button class="send" type="button">Soumettre votre demande maintenant</button>
        </div>
      </div>
    </div>
    <div class="copy">
      © 2025. Site codé avec ❤️ par 
      <a href="https://wa.me/2250707145959" target="_blank">
        AwemA
      </a>. Tous droits réservés.
    </div>
  </div>
</footer>