<header id="mainHeader">
    <div class="container topbar">
      <p class="site-name">ONG EDUCATION ODD</p>

      <div class="header-menu">
        <div class="brand">
          <div class="logo">
            <img src="assets/images/logo-entete.avif" alt="Logo EDUCATION ODD"  />
          </div>
        </div>

        <button class="burger" type="button"
          aria-label="Ouvrir le menu"
          aria-controls="mainNav"
          aria-expanded="false">
          <span></span><span></span><span></span>
        </button>

        <nav id="mainNav" class="block-header__nav" aria-label="Navigation principale">
          <ul class="block-header__nav-links">
          <li class="block-header-item">
          <a class="item-content" href="./">ACCUEIL</a>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./presentation.html">PRÉSENTATION</a>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./activites.html">ACTIVITÉS</a>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./nos-projets.html">NOS PROJETS</a>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./blog.html">ACTUALITÉS</a>
          </li>

          <!-- ENGAGEMENT (dropdown) -->
          <li class="block-header-item has-dropdown">
          <button class="item-content dropdown-trigger" type="button" aria-haspopup="true" aria-expanded="false">
              ENGAGEMENT
              <span class="caret" aria-hidden="true"></span>
          </button>

          <div class="block-header-item__dropdown-area">
              <ul class="block-header-item__dropdown">
              <li class="block-header-item">
                  <a class="item-content" href="./dans-lodd-3-sante-et-bien-etre.html">Dans l’ODD 3 (Santé et bien-être)</a>
              </li>
              <li class="block-header-item">
                  <a class="item-content" href="./dans-lodd-4-education-de-qualite.html">Dans l’ODD 4 (Éducation de qualité)</a>
              </li>
              </ul>
          </div>
          </li>

          <!-- ESPACE ODD (dropdown) -->
          <li class="block-header-item has-dropdown">
          <button class="item-content dropdown-trigger" type="button" aria-haspopup="true" aria-expanded="false">
              ESPACE ODD
              <span class="caret" aria-hidden="true"></span>
          </button>

          <div class="block-header-item__dropdown-area">
              <ul class="block-header-item__dropdown">
              <li class="block-header-item">
                  <a class="item-content" href="./participation.html">Votre participation au développement durable</a>
              </li>
              <li class="block-header-item">
                  <a class="item-content" href="./la-liste-des-17-odd.html">La liste des 17 ODD</a>
              </li>
              <li class="block-header-item">
                  <a class="item-content" href="./cibles-odd.html">
                  Les cibles des 17 ODD à atteindre pour les pays d'ici 2030
                  </a>
              </li>
              </ul>
          </div>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./presse.html">PRESSE</a>
          </li>

          <!-- PARTENAIRES (dropdown) -->
          <li class="block-header-item has-dropdown">
            <button class="item-content dropdown-trigger" type="button" aria-haspopup="true" aria-expanded="false">
                PARTENAIRES
                <span class="caret" aria-hidden="true"></span>
            </button>

            <div class="block-header-item__dropdown-area">
                <ul class="block-header-item__dropdown">
                  <li class="block-header-item">
                    <a class="item-content" href="./partenaires.html">Partenaires</a>
                  </li>
                  <li class="block-header-item">
                    <a class="item-content" href="./devenir-partenaire.html">Devenir partenaire</a>
                  </li>
                </ul>
            </div>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./contact.html">CONTACT</a>
          </li>
        </ul>
      </nav>

      
      <div class="actions">
          <a href="https://www.youtube.com/@ONG-EDUCATION-ODD" target="_blank" rel="noopener" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
          <a href="https://www.facebook.com/p/ONG-Education-ODD-100083027846106/" target="_blank" rel="noopener" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>

          <div class="quick-cta" data-quick-cta>
            <button type="button" class="don quick-cta__trigger" aria-haspopup="true" aria-expanded="false">
              FAIRE UN DON <span class="quick-cta__caret" aria-hidden="true">▾</span>
            </button>
            <div class="quick-cta__menu">
              <a class="quick-cta__option" href="tel:+2250789084487">
                <i class="fas fa-phone"></i> Appeler
              </a>
              <a class="quick-cta__option" target="_blank" rel="noopener"
                 href="https://wa.me/2250789084487?text=Bonjour%2C%20je%20souhaite%20faire%20un%20don%20%C3%A0%20l'ONG%20EDUCATION%20ODD.%20Pouvez-vous%20m'indiquer%20la%20d%C3%A9marche%20%C3%A0%20suivre%20%3F">
                <i class="fa-brands fa-whatsapp"></i> WhatsApp
              </a>
              <a class="quick-cta__option quick-cta__option--ghost" href="./faire-un-don.html">
                En savoir plus
              </a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </header>