<header id="mainHeader">
    <div class="container topbar">
      <h1>ONG EDUCATION ODD</h1>

      <div class="header-menu">
        <div class="brand">
          <div class="logo">
            <img src="assets/images/logo-entete.avif" alt="Logo EDUCATION ODD"  />
          </div>
        </div>

        <button class="burger" type="button"
          aria-label="Ouvrir le menu"
          aria-controls="mainNav"
          aria-expanded="false">
          <span></span><span></span><span></span>
        </button>

        <nav id="mainNav" class="block-header__nav" aria-label="Navigation principale">
          <ul class="block-header__nav-links">
          <li class="block-header-item">
          <a class="item-content" href="./">ACCUEIL</a>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./presentation.html">PRESENTATION</a>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./activites.html">ACTIVITES</a>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./nos-projets.html">NOS PROJETS</a>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./blog.html">ACTUALITES</a>
          </li>

          <!-- ENGAGEMENT (dropdown) -->
          <li class="block-header-item has-dropdown">
          <button class="item-content dropdown-trigger" type="button" aria-haspopup="true" aria-expanded="false">
              ENGAGEMENT
              <span class="caret" aria-hidden="true"></span>
          </button>

          <div class="block-header-item__dropdown-area" role="menu">
              <ul class="block-header-item__dropdown">
              <li class="block-header-item">
                  <a class="item-content" href="./dans-lodd-3-sante-et-bien-etre.html">Dans l’ODD 3 (Santé et bien-être)</a>
              </li>
              <li class="block-header-item">
                  <a class="item-content" href="./dans-lodd-4-education-de-qualite.html">Dans l’ODD 4 (Éducation de qualité)</a>
              </li>
              </ul>
          </div>
          </li>

          <!-- ESPACE ODD (dropdown) -->
          <li class="block-header-item has-dropdown">
          <button class="item-content dropdown-trigger" type="button" aria-haspopup="true" aria-expanded="false">
              ESPACE ODD
              <span class="caret" aria-hidden="true"></span>
          </button>

          <div class="block-header-item__dropdown-area" role="menu">
              <ul class="block-header-item__dropdown">
              <li class="block-header-item">
                  <a class="item-content" href="./participation.html">Votre participation au développement durable</a>
              </li>
              <li class="block-header-item">
                  <a class="item-content" href="./la-liste-des-17-odd.html">La liste des 17 ODD</a>
              </li>
              <li class="block-header-item">
                  <a class="item-content" href="./cibles-odd.html">
                  Les cibles des 17 ODD à atteindre pour les pays d'ici 2030
                  </a>
              </li>
              </ul>
          </div>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./presse.html">PRESSE</a>
          </li>

          <!-- PARTENAIRES (dropdown) -->
          <li class="block-header-item has-dropdown">
            <button class="item-content dropdown-trigger" type="button" aria-haspopup="true" aria-expanded="false">
                PARTENAIRES
                <span class="caret" aria-hidden="true"></span>
            </button>

            <div class="block-header-item__dropdown-area" role="menu">
                <ul class="block-header-item__dropdown">
                  <li class="block-header-item">
                    <a class="item-content" href="./partenaires.html">Partenaires</a>
                  </li>
                  <li class="block-header-item">
                    <a class="item-content" href="./devenir-partenaire.html">Devenir partenaire</a>
                  </li>
                </ul>
            </div>
          </li>

          <li class="block-header-item">
          <a class="item-content" href="./contact.html">CONTACT</a>
          </li>
        </ul>
      </nav>

      
      <div class="actions">
          <a href="https://www.youtube.com/@ONG-EDUCATION-ODD" target="_blank" rel="noopener" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
          <a href="https://www.facebook.com/p/ONG-Education-ODD-100083027846106/" target="_blank" rel="noopener" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
          <a class="don" href="#">FAIRE UN DON</a>
      </div>
      </div>
    </div>
  </header>